.container {
    font-family: 'AkayaTelivigala-Regular';
}

body {
    background-color: #faf8f0;
}

.page{
	width: 350px;
	background-color: #f5cde6;
	margin: 80px auto;
	padding: 30px 20px;
	border-radius: 8px;
}

.form{
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 16pt;
	margin-bottom: 20px;
	border-radius: 4px;
}

.btn {
    display: inline-block;
    border-radius: 6px;
    background-color: #a7e9e1;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 6px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

thead {
    background-color: #f5cde6;
}

